.create-msg{
    position: absolute;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;

    input{
        display: block;
        margin: 0 auto;
        height: 50px;
        width: 100%;
        border-radius: 20px;
        font-size: 18px;
        padding: 0 70px 0 20px;
        background: #F6F6F6;
        border: none;
        color: #b6b6b6;
    }

    button{
        cursor: pointer;
        position: absolute;
        right: 20px;
        bottom: 7px;
        background: none;
        border: none;
        img{
            width: 30px;
            height: 30px;
        }
    }
}